* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    overflow: hidden;
    background-color: #f1f1f1;
}


#cordshow {
    position: relative;
    bottom: 50px;
}


#japanmap { 
    width:700px;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px #111;
    margin-top:-35px;
}


#jp-img { 
    text-align: center;
    position: relative;
    
}


#semi-inner { 
    position: relative;
    display: inline-block;
}

 
#myel  {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#jptext { 
    position: absolute;
    right:50px;
    top:50px;
    color: #111;
    text-shadow: 0 0 1px red, 0 0 1px gold;
    font-size: 50px;
    width:360px;
    padding:5px;
    font-family:fantasy;

}


#myel2  {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
}


#belowpic { 
    width:150px;
}


#textsection { 
    text-align: left;
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
}


#selecttext { 
    font-size: 45px;
    font-family:fantasy;
    padding: 20px;
}


#username2 { 
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 0 20px 0;
    word-break: break-all;
}


.sidetext { 
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 10px 20px;
}


#userandpic { 
    position: absolute;
    left:95px;
    top:250px;
    width: 250px; 
}


#prefandpic { 
    position: absolute;
    right:130px;
    top:250px;
}


#prefmon { 
    width:150px;
}


#prefname { 
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 0 20px 0;
    text-transform: capitalize;
}


.winner { 
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.loser { 
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#btnmodal { 
    position: absolute;
    left:10px;
    top:10px;
}


#modal { 
    display: none;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}


#modal-content { 
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    width:30%;
    height: 400px;
    position: relative;
}


#close { 
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


#close:hover, #close:focus  {
    color:#000;
    text-decoration: none;
    cursor: pointer;
}


#restart { 
    position: absolute;
    bottom:30px;
    left:0;
    right:0;
    margin: auto;
    width:300px;
    padding:20px;
}


#back { 
    position: absolute;
    bottom:10px;
    left:10px;
    width:100px;
    padding:5px;
    border: none;
    border: 1px solid #ddd
}


#back:hover { 
    background-color: #ddd;
    cursor: pointer;
}


